body {
  margin: 0;
  top: 0;
  left: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

main {
  position:absolute;
  background: rgba(0, 0, 0, 1);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* === Header === */

.header {
  background-color: rgb(255,255,255);
  position: absolute;
  line-height: 48px;
  width: 100%;
  height: 48px;
  overflow: hidden;
}

.header-title {
  padding: 0px 10px 0px 10px;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: .5em;
}

.header-button-container {
  float:right;
}

.header-button {
  padding: 0px 10px 0px 10px;
}

/* === DicomDebugWindow === */

.dicom-debug-window {
  position: relative;
  background: rgba(255,255,255,.85);
  color: rgba(0,0,0,255);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  border: 0px hidden #000000;
  float: left;
  overflow: auto;
  width: 400px;
  height: 100%;
}

.dicom-debug-window-table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

.dicom-debug-window-body {
  font-size: .7em;
}

.dicom-debug-window-table-header {
  font-size: .8em;
}

.dicom-debug-window-table-property {
  font-weight: bold;
  text-align: right;
}

.dicom-debug-window-table-value {
  font-weight: normal;
  text-align: left;
}

/* ImageWindow */

#image-window {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  background: rgba(0, 0, 0, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255,255,255,0.75);
}

#image-window-canvascontainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#image-window-canvas {
  display: block;
  margin: auto;
  padding: 0;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-window-button {
  display: inline-block;
  background: rgba(0,0,0,0);
  border: 0px;
  padding: 2px;
  color: rgba(255,255,255,0.75);
  width: auto;
}

.image-window-centerwidth-display {
  text-align:center;
  font-size: .7em;
}

.image-navigation-bar {
  background: rgba(0,0,0,255);
  text-align: center;
  color: rgba(255,255,255,0.75);
}

.image-navigation-text {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.image-navigation-button {
  display: inline-block;
  background: rgba(0,0,0,0);
  border: 0px;
  padding: 2px;
  width: auto;
}

/* Navigation Footer */

#navigation-footer {
  width: 100%;
  color: rgba(255,255,255,0.75);
  background: rgb(0,0,0);
  border: 0px;
  text-align: center;
}

.navigation-footer-left {
  display: inline-block;
  float: left;
  width: 100px;
  text-align: left;
}

.navigation-footer-middle {
  display: inline-block;
  margin: 0 auto 0 auto;
  text-align: center;
}

.navigation-footer-right {
  display: inline-block;
  float: right;
  width: 100px;
  text-align: right;
}

/* Main Window */

.main-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.main-window-header {
  width: 100%;
  height: 48px;
}

.main-window-workspace {
  position: absolute;
  width: 100%;
  background: rgb(32,32,32);
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Workspace Window */

.workspace-window {
  width: 100%;
  height: 100%;
}

.workspace-window-main {
  width: 100%;
  height: 100%;
}

.workspace-window-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
}
