.header {
	background-color: rgb(255,255,255);
	position: absolute;
	line-height: 48px;
	width: 100%;
	height: 48px;
	overflow: hidden;
}
.title {
	padding: 0px 10px 0px 10px;
	font-size: 1.3em;
	font-weight: normal;
	letter-spacing: .5em;
}
.buttonContainer {
	float: right;
}
.button {
	padding: 0px 10px 0px 10px;
}
