@textColor : rgb(192, 192, 192);
table {
	color: @textColor;
	border: 0px;
}
thead {
	font-size: 1.5rem;
	text-align: center;
}
thead td {
	padding: 0.25rem 0;
	border-bottom: 1px solid @textColor;
}
tbody {
}
tbody th {
	text-align: right;
	padding: 0.25rem;
}
tbody td {
	padding: 0.25rem;
}
